.about{
    min-height: 100vh;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 905%;
    margin:0 auto;
}
.about .row .image img{
    height: 65vh;
    width: 50vh;
}
.about .row .content h3{
    font-size: 4rem;
    color: #009800;
}
.about .row .content p{
    font-size: 1.9rem;
    color: #333;
}
.about .row .content .btn{
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s linear;
    height: 4rem;
    width: 18rem;
    margin-top: 1rem;
    color: #fff;
    background: #009800;
    font-size: 2rem;
}

.about .row .content .btn1,
.about .row .content .btn:hover{
    background: none;
    color: #009800;
    border: .2rem solid #009800;
    margin-right: 1rem;
}